/* pour toute la page*/
main {
  display:flex;
  gap: 10px;
}


/* pour le corps*/
body {  
  font-family:Arial, Helvetica, sans-serif;
  background-color: pink;
}
h1{
  text-align: center;
  font-size: 500%;
  font-family: Old English Text MT, sans-serif;

}


/* pour les liens des listes des nav (selection de navigation) de l'entête*/
header nav ul a:link{
  color :rgb(228, 88, 214);
  text-shadow: rgb(70, 170, 227) 1px 0 5px;
}
/* pour les liens des listes des nav (selection de navigation) de footer (pied de page)*/
footer nav ul a:link{
  color: rgb(117, 21, 21);
  text-shadow: rgb(151, 74, 206) 1px 0 5px;
}

/* pour les liens des listes des nav (selection de navigation) survolés de l'entête*/
header nav ul a:hover{
  background-color: rgb(255, 226, 172);
  color : rgb(79, 32, 79)
}
/* pour les liens des listes des nav (selection de navigation) survolés de footer (pied de page)*/
footer nav ul a:hover{
  background-color: rgb(240, 240, 150);
  color: rgb(59, 38, 90);
  text-shadow: none;
}

/* pour les listes des selections de navigation de l'entête*/
header nav ul{
  list-style-type: none;
}
/* pour les listes des selections de navigation du pied de page*/

footer nav ul{
  list-style-type: none;
}
body main article figure img{
  max-width: 400px;
	height: auto;
}
aside figure img{
  width: 200px;
}
aside h2{
  text-align: center;
}

aside{
  flex-basis:0;
}

nav{
  display:flex;
  justify-content:space-around;
}
header nav ul li {
  display: inline-block;
}
footer nav ul li {
  display: inline-block;
}

figure{
  display:flex;
  position: relative;
  position: relative;
}


figure:hover{
  filter:brightness(50%);
  
}
