/* Titres h1 */
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@536&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

/* Main text */
@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');

/* pour toute la page*/
header{
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
    color: rgb(38, 20, 39);
    background-color: #f4e5f0;
    min-height: 100vh;
}

/* pour le corps*/
body {
    font-family: "Fustat", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    margin: 0;
}

section{
    display: flex;
    flex-direction: column;
    margin: 60px;
    width: 650px;
}

/*TITRES*/

h1{
    font-family: "Cal Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 240px;
    text-align: center;
    margin: 0;
}


h2 {
    font-family: "Cal Sans", sans-serif;
    font-size: 70px;
    margin: 20px;
}

h3 {
    font-size: 150%;
    margin: 20px 0 20px 0;
}

.h3-fiche{
    font-family: "Cal Sans", sans-serif;
    font-size: 45px;
}

h4 {
    text-align: center;
    font-size: 120%;
    margin: 20px 0 0 0;
}

/*LIENS HEADER NAV pages*/
header nav ul {
    display: flex;
    flex-direction: row;
    gap: 120px;
    list-style: none;
    padding: 17px;
    padding-left: 70px;
    margin: 0;
}

header a {
    text-decoration: none;
    font-size: 20px;
    color: #be8c7a;
    text-transform: uppercase;
}

header a:hover {
    border-bottom: solid #d2a093 3px;
}

header a:active {
    border-bottom: solid #d2a093 3px;
}

/* LISTES */

/*aligner le texte du lien "Accueil" au reste*/
li {
    position: relative;
}

li a #Accueil {
    position: relative;
    bottom: 6px;
}


/*listes et leur texte*/

ul {
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    align-items: center;
    margin: 10px;
}

ul a {
    text-decoration: none;
}

.liste-contenu{
    align-items: baseline;
}


/*AUTRES ELEMENTS*/

.important-text{
    font-weight: 800;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figcaption-source{
    font-size: 10px;
    color:#afacac
}

.figcaption-texte{
    font-family: "Cal Sans", sans-serif;
}

p,
li,
dd {
    line-height: 25px;
    margin: 8px;
}

.F,
.dl-projets {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

dd{
    align-items: baseline;
}

main a {
    color: #be8c7a;
}

/*------------ACCUEIL--------------*/

/*div contenu accueil*/
#accueil {
    display: flex;
    flex-direction: row;
}

#div-main-accueil {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 50px;
}

#div-presentation {
    display: flex;
    flex-direction: column;
}

#image-girl-pc {
    width: 30px;
}

#img-girl-coder {
    width: 600px;
}

#Soukaïna {
    color: #b338b8;
    font-size: 41px;
}

/*------------QUI SUIS-JE--------------*/

.div-groupe-langages{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

#main-qui {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sections-qui {
    width: 40%;
}

.logo-langage-enorme{
    width: 100px;
    height: min-content ;
}

.logo-langage-long {
    height: 40px;
}

.logo-langage {
    width: 60px;
}

.logo-langage-petit {
    height: 60px;
}

.logo-langage-detaille {
    height: 90px;
}

.logo-langage-moyen {
    height: 70px;
}

#section-interet{
    width: 100%;
}

#section-img-interet{
    display: flex;
    flex-direction: row;
}

.img-interet{
    width: 200px;
}


/*FOOTER*/
footer {
    background-color: #16122f;
    color: #e2c3b2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#ul-email,
#ul-telephone,
#ul-adresse {
    width: 33%;
    padding: 0;
}

#ul-email,
#ul-telephone {
    border-right: solid #e2c3b2;
}


footer a {
    color: rgb(38, 20, 39);
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
}

footer a:hover {
    color: #e3b5a4;
    background-color: black;
    padding: 20px;
}

#li-email,
#li-tel,
#li-adresse {
    color: #bdf2ff;
}

/* Contenu page */

section ul {
    align-items: start;
}

/* Projets */

#article-boutons-sae {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px;
}

.img-sae {
    width: 200px;
    box-shadow: 6px 10px 18px #888888;
    transition: .3s ease-in-out;
    border-radius: 20px;
}

.img-sae:hover {
    transform: scale(1.2);
}

.article-fiche {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

}

#article-fiche ul>li {
    list-style-type: circle;
}


.section-fiches{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 50px;
    margin: 0;
}

#section-alternance,
#section-stage,
#section-sae3,
#section-sae4,
#section-sae2,
#section-gamejam {
    width: 40%;
    position: absolute;
}

#section-alternance, #section-stage{
    top: 180px;
}

#section-sae3, #section-sae4{
    top: 2500px;
}

#section-sae2, #section-gamejam{
    top: 4500px;
}

#bg-jba, #bg-lomet{
    height: 1900px;
    width: 834px;
}

#bg-sae3, #bg-sae4 {
    height: 1950px;
    width: 834px;
}

#bg-sae2, #bg-gamejam {
    height: 2100px;
    width: 834px;
}

#bouton {
    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 9999;
    margin: 0;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 60px;
    background: rgb(216, 105, 99);
    color: white;
    text-align: center;
    font-size: larger;
    text-decoration: none;
}

#bouton:hover {
    background: rgb(158, 75, 71);

}